@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --panel-width: calc(100% / 6);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --panel-width: calc(100% / 6);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.herobg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.5%, #12141d 100%);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bcolor {
  background-color: transparent;
}
.bgcolor {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.5%, #12141d 100%);
}
.llg {
  background: linear-gradient(
    90deg,
    #12141d 22.5%,
    rgba(29, 31, 39, 0.65) 59%,
    rgba(29, 31, 39, 0) 95%
  );
}
.rlg {
  background: linear-gradient(
    90deg,
    #12141d 22.5%,
    rgba(29, 31, 39, 0.65) 59%,
    rgba(29, 31, 39, 0) 95%
  );
  transform: rotateY(180deg);
}

.gctext {
  background: linear-gradient(94deg, #2b59ff 0%, #bb2bff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line {
  overflow-y: hidden;
}
.gtext {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fff 0%,
    #cbcbcb 50.5%,
    #999 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gtext .word .char {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fff 0%,
    #cbcbcb 50.5%,
    #999 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rfm-marquee {
  min-width: unset !important;
}

.rfm-child {
  margin-left: 8px;
}

.brand .rfm-child {
  margin-left: 16px;
}

.rotateanimation {
  background-image: linear-gradient(
    121deg,
    #1b1b1b 38%,
    #f0f0f0 50%,
    #1b1b1b 61%
  );
  min-width: 190px;
  min-height: 250px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  animation: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

.panels {
  position: fixed;
  top: 0;
  left: 50%;
  width: 180vw;
  height: 100%;
  transform: translateX(-50%) skewX(-35deg);
  clip-path: circle(100%);
  z-index: 9999;
  background: linear-gradient(94deg, #2b59ff 0%, #bb2bff 100%);
}

.panels .panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--panel-width);
  transform: scaleY(0);
  transform-origin: top;
  background: #12141d;
}

.panels .panel:nth-child(even) {
  transform-origin: bottom;
}

.panels .panel:nth-child(2) {
  left: calc(var(--panel-width) - 1px);
}

.panels .panel:nth-child(3) {
  left: calc(calc(var(--panel-width) * 2) - 2px);
}

.panels .panel:nth-child(4) {
  left: calc(calc(var(--panel-width) * 3) - 4px);
}

.panels .panel:nth-child(5) {
  left: calc(calc(var(--panel-width) * 4) - 5px);
}

.panels .panel:nth-child(6) {
  left: calc(calc(var(--panel-width) * 5) - 6px);
}

.newclip {
  clip-path: polygon(0 0, 100% 0, 100% 2967px, 0% 100%);
}

.page-main {
  display: flex;
  height: 100%;
  padding: 100px 15px;
  clip-path: circle(20%);
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .panels {
    width: 200vw;
  }
}

.char {
  transform: translateY(100%);
  transition: transform 0.5s;
}
@media screen and (max-width: 600px) {
  .panels {
    width: 235vw;
  }
}
